@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    padding: 10%;
    font-size: 1.5rem;
    font-family: 'JetBrains Mono', monospace;
}

a {
    text-decoration: none;    
    cursor: pointer;
    color: blue;
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: aquamarine;
    opacity: 0.8;
}

a:active {
    color: red;
}


/* [[ ORDER: Anchor > Visited > Hover > Active ]] */

/* https://specificity.keegan.st/ */